<!-- reference: https://developers.facebook.com/docs/sharing/best-practices#tags -->

<!-- CORE -->
<!-- Title, without branding. -->
<meta property="og:title" content="{{ .Page.Title }}">
<!-- Name, not URL -->
<meta property="og:site_name" content="{{ .Site.Title }}">
<!-- URL. Should match canonical URL for SEO. Unique identifier for your article. -->
<meta property="og:url" content="{{ .Page.Permalink }}">
<!-- OPTIONAL description. 2-4 sentences. -->
<meta property="og:description" content="{{ with .Page.Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">

<!-- Image for article. Facebook suggests at least 1200 x 630. -->
<meta property="og:image" content="{{ "/brand/opengraph.png" | absURL }}"/>
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<!-- ADDITIONAL -->
<!-- UID for Facebook insights -->
<!-- <meta property="fb:app_id" content="" /> -->
<!-- Object type. Defaults to 'website'. See http://ogp.me/#types -->
<!-- <meta property="og:type" content="" /> -->
<!-- Locale. Defaults to en_US. For all locales see https://github.com/akarve/facebook-locales-to-json -->
<meta property="og:locale" content="{{ .Site.Language }}" />
<!-- Locale for additional translations. See https://developers.facebook.com/docs/internationalization/ and https://developers.facebook.com/docs/opengraph/guides/internationalization-->
<!-- <meta property="og:locale:alternate" content="" /> -->
<!-- Author's Facebook Profile or Page -->
<!-- <meta property="article:author" content="" /> -->
<!-- Publisher's Facebook Page  -->
<!-- <meta property="article:publisher" content="" /> -->
