<nav id="nav" aria-label="Navigation" aria-expanded="false">
  <ul id="nav-menu" class="menu">
    {{ $currentPage := . }}
    
    {{ range $index, $element := .Site.Menus.main }}
      {{- $active := or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Section .Identifier) }}

      <li id="{{ .Identifier }}" aria-current="{{ if $active }}true{{ else }}false{{ end }}">
        {{ if not .HasChildren }}
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>

        {{ else }}
          {{ .Page.Title }}

          <ul class="submenu" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
            {{ range .Children }}
              {{- $active := or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Section .Identifier) }}

              <li id="{{ .Identifier }}" aria-current="{{ if $active }}true{{ else }}false{{ end }}">
                <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
              </li>
            {{ end -}}
          </ul>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
